<div id="screen"></div>
<div id="overlay">
    <div *ngIf="step === 0">
        <h3>Veuillez d'abord choisir un mode de jeu valide</h3>
        <section class="horizontalContainer">
            <button (click)="setGameMode('classique')">Scrabble classique</button>
            <button (click)="setGameMode('log2990')">Scrabble LOG2990</button>
        </section>
        <button id="return-to-home" routerLink="/home">Retourner à l'accueil</button>
    </div>

    <div *ngIf="step === 1 && playerMode === ''">
        <h3>Veuillez choisir quelle type de partie</h3>
        <section class="horizontalContainer">
            <button (click)="setPlayerMode('solo')">Partie solo</button>
            <button (click)="setPlayerMode('multiplayer')">Partie multijoueur</button>
        </section>
        <button id="return" (click)="return()">Retour</button>
    </div>
</div>
