h1 {
    margin-top: 4vh;
    margin-bottom: 2vh;
    font-family: var(--title-font);
    font-style: bold;
    font-size: 7vh;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: var(--title-color);
    text-shadow: 0vh -0.1vh var(--shadow-color), 0.1vh 0vh var(--shadow-color), 0vh 0.1vh var(--shadow-color), -0.1vh 0vh var(--shadow-color);
}

h2 {
    margin-top: 4vh;
    margin-bottom: 2vh;
    text-align: center;
    font-family: var(--title-font);
    font-size: 3vh;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: var(--title-color);
    text-shadow: 0vh -0.1vh var(--shadow-color), 0.1vh 0vh var(--shadow-color), 0vh 0.1vh var(--shadow-color), -0.1vh 0vh var(--shadow-color);
}

div {
    align-items: center;
}

p {
    margin-top: 0.8vh;
    margin-bottom: 0.8vh;
}

th,
td {
    width: 22.6vh;
    text-align: center;
    padding: 1vh;
}

#historyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

thead,
tbody {
    display: block;
}

tbody {
    height: 47.5vh;
    overflow-y: overlay;
}

tbody::-webkit-scrollbar {
    width: 1.3vh;
}

tbody::-webkit-scrollbar-track {
    background: var(--scroll-bar-background-color);
    border-radius: 1vh;
}

tbody::-webkit-scrollbar-thumb {
    background: var(--button-border);
    border-radius: 1vh;
}

.columnTitle {
    font-size: 3vh;
    border-bottom: 1.5vh solid var(--table-title-bottom-border-color);
}

tr:nth-child(even) {
    background-color: var(--table-even-child-color);
}

.historyTable {
    width: 150vh;
    background-color: var(--button-color);
    border: 0.5vh solid var(--button-border);
    border-radius: 2vh;
    color: var(--table-font-color);
    font-size: 2.2vh;
    font-family: var(--font);
    font-weight: lighter;
    margin-bottom: 4vh;
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
    height: 7vh;
    margin-top: 4vh;
}

.confirmationButton {
    margin-left: 5vh;
    margin-right: 5vh;
    width: 12vh;
    height: 7vh;
    border: 0.3vh solid var(--decisional-button-border-color);
    font-size: 3vh;
}

.yesButton {
    background-color: var(--play-button-color);
    margin-left: 22vh;
}

.yesButton:hover {
    background-color: var(--play-button-border-color);
}

.noButton {
    background-color: var(--bad-button-color);
}

.noButton:hover {
    background-color: var(--bad-button-hover-color);
}

.centered {
    align-items: center;
    text-align: center;
}

button {
    text-align: center;
    border-radius: 1.5vh;
    border: 0.3vh solid var(--button-border);
    background-color: var(--button-color);
    color: var(--button-font-color);
    font-family: var(--font);
    font-size: 2.5vh;
}

button:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
    transition: ease-out 0.3s;
}
#resetButton {
    width: 20vh;
    height: 6vh;
}

#returnButton {
    position: fixed;
    font-size: 4vh;
    margin-left: 5vh;
    margin-top: 2vh;
    width: 20vh;
    height: 8vh;
}

.confirmationOverlay {
    width: 80vh;
    height: 20vh;
    border: 0.5vh solid var(--overlay-border-color);
}

.overlay {
    text-align: center;
    align-items: center;
    border-radius: 1.5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: var(--overlay-background-color);
}

#screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: var(--greying-screen-color);
}
