<div id="container">
    <div id="container-chat-box">
        <div id="help-button">
            <app-hint-button></app-hint-button>
            <app-help-button></app-help-button>
        </div>
        <app-chat-box></app-chat-box>
        <app-font-size-letter></app-font-size-letter>
        <app-surrender></app-surrender>
        <app-home-button></app-home-button>
    </div>
    <app-play-area tabindex="0"></app-play-area>
    <app-informative-panel></app-informative-panel>
    <app-error-best-score></app-error-best-score>
    <app-winner-announcement></app-winner-announcement>
    <app-game-loading></app-game-loading>
</div>
